#dsh{
	
	margin-top:100px;
}
#bb{
    background: linear-gradient(90deg, #ced4da 0%, #dee2e6 46%, #e9ecef 100%);	
}

#head{
 	text-align: center;
    font-size: 30px;
    font-family: serif,bold;
    color: #8bbf97;
}
#bmsg{
	
	font-family:sans-serif,bold;
	font-size:21px;
	color:black;
	
	
}
#stb{
	
	    line-height: 0.5;
	
	
}
#stb{
	
	    line-height: 0.5;

	
	
}
#hu{
	
	padding-right:50px;
	
	
}


